.header {
  width: 100%;
  height: 100%;
  background: #24232b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 20px;

  .darkMode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
  }
}
