.footer {
  width: 100%;
  height: 100%;
  background: #24232b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
}