.content {
  min-width: 600px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  // background: #24222b;
  padding: 20px;

  .tabsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #727082;
    font-size: 20px;

    & div:first-child {
      color: #a8fab3;
    }

    & div {
      cursor: pointer;
      transition: color 0.6s ease;
      transition: text-shadow 0.3s ease;
    }

    & div:hover {
      color: #a8fab3;
      text-shadow: 0px 0px 15px #a8fab3;
    }
  }

  .passwordContainer {
    width: 100%;
    height: 71px;
    padding: 20px;
    background: #24222b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      .password {
        color: #fff;
      }

      .copyIcon {
        color: #fff;
      }
    }

    .password {
      color: #4e4c55;
      font-size: 25px;
      transition: color 0.3s ease;
    }

    .copyIcon {
      color: #a6fdaf;
      transition: color 0.3s ease;
    }
  }

  .optionContainer {
    width: 100%;
    padding: 20px;
    background: #24222b;

    .lenghtContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      .lengthCharacter {
        color: #d0cfd7;
        font-size: 16px;
        font-weight: 600;
      }

      .lenght {
        color: #a6fdaf;
        font-size: 25px;
        font-weight: 600;
      }
    }

    .slider {
      width: 100%;
    }
  }

  .strengthContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #18171f;
    padding: 20px;
    margin: 20px 0;

    .strenght {
      font-size: 18px;
      font-weight: 600;
      color: #82808f;
    }

    .complexityContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .complexity {
        font-size: 26px;
        font-weight: 700;
        color: #d0cfd7;
      }

      .blockGroup {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background: #a6fdaf;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #a6fdaf;

    &:hover {
      background: #24222b;

      .button {
        color: #a6fdaf;
      }

      .arrow {
        color: #a6fdaf;
      }
    }

    .button {
      font-size: 18px;
      font-weight: 600;
      color: #1d291e;
    }

    .arrow {
      margin-left: 25px;
      font-size: 18px;
      font-weight: 600;
      color: #1d291e;
      display: flex;
      align-items: center;
    }
  }
}
